body{
    background-color: white;
    margin: 2%;
}
#studentHouse{
    display: container;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.form-inline{
justify-content: center ;
}

#sorthouse{
    margin: 30%;
    min-width: auto;
}

#housecards{
   
    margin: 5px 5px;
    background-color: white;
    border: 2px solid black;
    border-radius:10px 10px 10px 10px ;
    justify-content: center;
}
.studentinfo{
    border: 2px solid black;
    padding: 20px 20px 20px 20px;
}
#name{
    text-align: center;
}

#house{
    text-align: center;
    font-weight: bold;
}

#remove{
 margin-left: 85px ;
    
}
.card-body.Ravenclaw{
    background-color: aqua;
   
}
.card-body.Gryffindor{
    background-color:yellow;
}
.card-body.Hufflepuff{
    background-color: pink;
   
}
.card-body.Slytherin{
    background-color: orange;
   
}